/* 1-й Уровень */
figure {
	width: 200px;
}
blockquote {
	margin: 0px;
}
blockquote p {
	color: #0dff00;
	background: #eee;
	padding: 15px;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

/* 2-й Уровень */
.list li a[href*="https"] {
	color: #ff0000;
}

.list > li:last-child > a {
	background: #008000;
}

.holder p:first-of-type {
	font-size: 26px;
}
/* 3-й Уровень */
.text-box h3:first-of-type {
	color: #ffc0cb;
}

#greycol {
	color: #808080;
}

.text-box div:nth-of-type(2) > p {
	color: #ff0000;
}

.text-box p:nth-of-type(3) {
	color: #008000;
}

.yellow {
	color: #ffff00;
}
/* 4-й Уровень */
.bg-box {
	margin: auto auto 50px;
	width: 1000px;
	height: 600px;
	background: url(../img/lamp.png) repeat-x top / 35px, 
	url(../img/grass.png) repeat-x bottom / 250px 30%,
	url(../img/hedgehog.png) repeat-y left / 30px,
	url(../img/donut.png) repeat-y right / 35px,
	url(../img/home.jpg) center no-repeat , #1a4e0f;

}