*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: Josefin Sans, sans-serif;
}
body {
  margin: 0;
}

.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  text-align: center;
  max-width: 100%
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 10px 0;
}

.logo {
  width: 40%;
  margin-left: 20px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .logo {
    width: 20%;
  }

  .hamburger-menu .menu__btn {
    display: none;
  }

  .hamburger-menu .menu__box {
    visibility: visible;
    position: inherit;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: transparent;
    top: -20px;

  }

    .hamburger-menu {
      display: flex;
    }
    .menu__box .menu__item {
      font-size: 14px;
      padding: 12px 12px;
    }
  .menu__box .menu__item:hover {
    color: #fff;
    background-color: transparent;
  }
q
  .main .content .card-block {  
    flex-flow: row wrap;
    align-items: normal;
  }
  
  .card-block .card {
    width: calc(50% - 20px);
    margin: 0 10px 20px
  }

  .aside-left h2,
  .aside-right h2 {
    padding: 20px;
  }

}

@media (min-width: 1024px) {

  .wrapper {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
  }
  
  

  .container {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
  }

  .content {
    flex-grow: 1;
  }
  .aside-left {
    order: -1;
  }

.aside-left,
.aside-right {
  flex-shrink: 0;
  flex-basis: 210px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}
  /* .content .card-block {
    justify-content: ;
  } */
  .card-block .card {
    width: calc(33% - 20px);
  }

  .button {
      width: 60px;
      text-decoration: none;
      color: #fff;
      background-color: #685174;
      padding: 5px 15px;
      border-radius: 20px;
      margin: auto auto 1em auto;
      transition: box-shadow,
      background-color, color, 0.7s ease;
  }
  .button:hover {
      background-color: #fff;
      color: #685174;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    }

    .card-block {
      justify-content: center;
    }
  }

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: absolute;
  top: 30px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1;

}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 50%;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
  opacity: 1;
}

.main-heading {
  padding: 10px 10px;
}

.aside-left {
  padding: 5px;
  background-color: pink;
}

.aside-right {
  padding: 5px;
  background-color: blue;
}

.card-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 0 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.7s ease;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,1);
  transition: box-shadow 0.7s ease;
}

.card-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid grey;
  margin: 20px 0 0;
}

.card-img img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 100%;
}

.card-text {
  margin: 30px 0;
}

.button {
      width: 60px;
      text-decoration: none;
      color: #fff;
      background-color: #685174;
      padding: 5px 15px;
      border-radius: 20px;
      margin: auto auto 1em auto;
      transition: box-shadow,
      background-color, color, 0.7s ease;
  }
  .button:hover {
      background-color: #fff;
      color: #685174;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    }

.footer {
  padding: 20px;
  background-color: green;
}


